name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: List all files
      run : ls -a
    - name : what is in the target folder
      run : ls -a target
    - name : what is the reports folder
      run : ls -a reports   
      
    - name: ExtentReports Upload a Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
           # Artifact name
           name: ExtentReport
           # A file, directory or wildcard pattern that describes what to upload
           path: reports 
           # The desired behavior if no files are found using the provided path.
